[context]
url_control = http://localhost:8080/api/control
url_log = http://localhost:8080/api/log
url_status = http://localhost:8080/api/status
url_bike = http://localhost:8080/api/bike

[message_log]
startMessage = starting scrape data
endMessage = complete scrape data
failedMessage = scrape data failed

[status_type]
complete = complete
failed = failed
running = running
waiting = waiting

[keyword]
bike2school = bike2school
xedapgiakho = xedapgiakho