[context]
url_control = http://localhost:8080/api/config
url_log = http://localhost:8080/api/log
url_status = http://localhost:8080/api/status
url_bike = http://localhost:8080/api/bike
url_dateDim = http://localhost:8080/api/dateDim
url_email = http://localhost:8080/api/email

[receiver_email]
email1 = 21130448@st.hcmuaf.edu.vn

[message_log]
startMessage = starting scrape data
endMessage = complete scrape data
failedMessage = scrape data failed
waitingMessage = scrape data waiting

[status_type]
complete = complete
failed = failed
running = running
waiting = waiting

[keyword]
bike2school = bike2school
xedapgiakho = xedapgiakho

[message_for_email]
waiting = Hệ thống đã sẵn sàng lấy dữ liệu của trang web
running = Hệ thống đang lấy dữ liệu của trang web
failed = Hệ thống lấy dữ liệu bị lỗi của trang web
complete = Hệ thống đã hoàn thành lấy dữ liệu của trang web

[subject_for_email]
subject = Hệ Thống Báo Giá Xe Đạp


